// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

// mixins 
.flex {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 90%;
}

.text {
	font-size: 1.2rem;
	color: gray;
}

.mobilenav {
	flex-direction: column;
	align-items: center;	
}
// variables
@color1: #2F6B8D;

@border: 1px solid black;

// css
.container {
	background: #C3F3FA;
}

nav {
	display: flex;
	width: 90%;
	padding: 0;
	justify-content: space-evenly;

	@media (max-width: 500px) {
		.mobilenav();
	}

	a {
		text-decoration: none;
		.text();
		padding: 10px 0;

		@media (max-width: 500px) {
			padding: 10px;
		}
	}
}

.cont {
	.flex();

	h2 {
		color: @color1;
		font-size: 1.2rem;
		text-decoration: underline;
		margin-top: 20px;
	}

	form {
		padding: 20px;
		
		div {
			padding: 10px;
			font-size: 1.2rem;

			button {
				width: 100%;
				padding: 10px;
				border-radius: 10px;	
			}
		}
	}
}

.banner {
	.flex();

	img {
		width: 75%;
		height: 250px;
	}
}

.top {
	.flex();
	
	h1 {
		padding: 20px;
		color: black;
		font-size: 1.4rem;
	}

	p {
		width: 60%;
	}
}

.middle {
	.flex();
	
	h2 {
		.text();
		margin: 20px 0;
	}

	ul {
		width: 60%;

		li {
			padding: 10px;
			color: @color1;
		}
	}
}

.bottom{
	h2{
		.text();
		.flex();
		margin: 20px auto;
	}

	table {
		color: white;
		width: 70%;
		margin: 0 auto;

		@media (max-width: 500px) {
			width: 50%;
			margin: 10px 0 50px 100px;
		}

		th {
			border: @border;
			padding:  10px;
			background: @color1;
		}

		td {
			border: @border;
			padding: 10px;
			background: @color1;
		}
	}
}